@{
    ViewBag.Title = "Forgot Password";
}

@using (Html.BeginForm())
{
    <div class="container w-25 form-control my-5 p-5">
        <h2>Forgot Password</h2>
        <div class="form-horizontal">
            <hr />
            <div id="message1" class="text-success">
                @ViewBag.Message
            </div>
            <p id="message" class="text-danger">
                @ViewBag.alartMessage
            </p>
            <div class="form-group py-2 px-3">
                <label class="control-label col-md-12 my-2">Email ID</label>
                @Html.TextBox("EmailID", "",new { @class="form-control" ,@id = "Email"})
                <input type="submit" value="Send OTP" class="btn btn-light" />
            </div>
            <div class="form-group py-2 px-3">
                <label class="control-label col-md-12 my-2">OTP</label>
                <input type="text" id="newotp" class="form-control" />
            </div>
            <input type="text" id="otp" disabled value="@ViewBag.msg">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="submit" value="check" onclick="check()" class="btn btn-success">
                </div>
            </div>
        </div>
    </div>

}

@section Script{

    <script>

        //    $("#submit").onclick(function () {
        //        var otp = $("#otp").val();
        //        var newotp = $("#newotp").val();

        //        if (otp == newotp)
        //        {
        //            //window.location.href = "@Url.ActionLink("index","Login")",true;

        //                location.href = "https://www.w3schools.com";

        //        }

        //});


        function check() {
            var Email = $("#Email").val();
            var otp = $("#otp").val();
            var newotp = $("#newotp").val();
            var url = `@Url.ActionLink("reset","Login")`;


            if (otp == newotp) {

                $.ajax({
                    method: "POST",
                    url: '@Url.ActionLink("ForgotPassword","Login")',
                    data: { email: Email },
                    success: function (data) {
                        window.location.href = url + '?email=' + Email;
                    }
                });

            }

            else {
                $.ajax({
                    method: "GET",
                    url: '@Url.ActionLink("ForgotPassword","Login")',
                    success: function (data) {

                        $("#message").html("Please Enter the valid OTP.also New OTP Send In mail Use that OTP.");
                        $("#message1").html(" ");
                    }


                });

            }
        }
    </script>
}

