@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService;
@inject IHttpContextAccessor _contx;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - apointify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/apointify.styles.css" asp-append-version="true" />
    @*calendar plugin*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.min.css" media="print" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="~/images/logo-black.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Css", required: false)
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    @*  <link href="/css/headercss.css" rel="stylesheet">*@
</head>
<body>

    <header class="d-flex align-items-center bg-light">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a class="logo float-start" asp-controller="Home" asp-action="Index"><img class="w-25" src="~/images/logo-black-removebg-preview.png"></a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link text-" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>

                    @if (Convert.ToInt32(_contx.HttpContext.Session.GetString("Role")) == 1)
                    {

                        <li class="nav-item">
                            <a class="nav-link  text-" asp-area="" asp-controller="Apointment" asp-action="bookings">Apointment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-" asp-area="" asp-controller="Service" asp-action="service">Book An Apoitment</a>
                        </li>
                    }
                    @if (Convert.ToInt32(_contx.HttpContext.Session.GetString("Role")) == 2)
                    {

                        <li class="nav-item">
                            <a class="nav-link  text-" asp-area="" asp-controller="Service" asp-action="service">Book An Apoitment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-" asp-area="" asp-controller="Apointment" asp-action="appointment">show my Bookings</a>
                        </li>

                    }
                    @if (Convert.ToInt32(_contx.HttpContext.Session.GetString("Role")) == 3)
                    {
                        <li class="nav-item">
                            <a class="nav-link  text-" asp-area="" asp-controller="Service" asp-action="service">Book An Apoitment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-" asp-area="" asp-controller="Apointment" asp-action="appointment">show my Bookings</a>
                        </li>

                    }

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            @if (Convert.ToInt32(_contx.HttpContext.Session.GetString("Role")) != 1 && Convert.ToInt32(_contx.HttpContext.Session.GetString("Role")) != 2 && Convert.ToInt32(_contx.HttpContext.Session.GetString("Role")) != 3)
            {
                <a class="fw-bold text-dark float-end me-4" text-" asp-area="" asp-controller="login" asp-action="Index">Login</a>
            }
            @if (Convert.ToInt32(_contx.HttpContext.Session.GetString("Role")) == 1 || Convert.ToInt32(_contx.HttpContext.Session.GetString("Role")) == 2 || Convert.ToInt32(_contx.HttpContext.Session.GetString("Role")) == 3)
            {

                    <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i><span class="ps-2 text-uppercase">@_contx.HttpContext.Session.GetString("Name")</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item fs-5 text-dark" asp-route-id="@_contx.HttpContext.Session.GetString("UserId")" asp-controller="Login" asp-action="UserProfile"> User Profile</a></li>
                        <li>
                            <a class="dropdown-item fs-5 text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"> Logout <i class="bi bi-box-arrow-right ps-2"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img class="w-75 ms-5" src="https://th.bing.com/th/id/OIP.cqiyYfkD_XUjUz3IhlMG6AHaE7?pid=ImgDet&rs=1"></img>
                                <h5 class="modal-title text-center fs-2 text-dark" id="exampleModalLabel">Comeback Soon!</h5>
                                <p class="text-center">
                                    <span class="text-uppercase">@_contx.HttpContext.Session.GetString("Name")</span>, Are You Sure You Want To Logout?
                                </p>
                                <div class="text-center ">
                                    <button type="button" class="btn btn-outline-danger border-0" data-bs-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger ms-3" asp-area="" asp-controller="Home" asp-action="Logout"> Yes, Logout </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
    </header>


    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


    <div class="container-fluid p-0">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <!-- ======= Footer ======= -->

    <footer id="footer">

        <!-- Grid container --><div class="container text-center">
            <!-- Section: Social media -->
            <section class="">
                <!-- Facebook -->
                <a class="btn btn-outline-primary  btn-floating fs-4 border-0 m-1" href="#!" role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class=" btn btn-outline-primary btn-floating  fs-4 border-0 m-1" href="#!" role="button">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- Google -->
                <a class=" btn btn-outline-primary btn-floating m-1  fs-4 border-0" href="#!" role="button">
                    <i class="fab fa-google"></i>
                </a>

                <!-- Instagram -->
                <a class="btn-1 btn btn-outline-primary btn-floating m-1  fs-4 border-0" href="#!" role="button">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- Linkedin -->
                <a class=" btn btn-outline-primary btn-floating m-1  fs-4 border-0" href="#!" role="button">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <!-- Github -->
                <a class=" btn btn-outline-primary btn-floating m-1  fs-4 border-0" href="#!" role="button">
                    <i class="fab fa-github"></i>
                </a>
            </section>
            <!-- Section: Social media -->

    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>



    <script>

        //This simple script handles the header nav menu modal
        //also covered nav sub menu selection
        //Dependencies: jQuery
        $(document).ready(function () {

            $('.burger').click(function () {
                $('header').toggleClass('clicked');
            });

            $('nav ul li').click(function () {
                $('nav ul li').removeClass('selected');
                $('nav ul li').addClass('notselected');
                $(this).toggleClass('selected');
                $(this).removeClass('notselected');
            });

        });

    </script>

    @RenderSection("Script", required: false)
</body>
</html>






