@model IEnumerable<apointify.Models.Employee>

@{
    ViewData["Title"] = "EmployeeTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-secondary mb-5">EmployeeTable</h1>

@*<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>*@


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-md-3 m-sm-5 mb-2 p-0 bg-white">
                <div class="card-header">
                    <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
                </div>
                <div class="card-body d-flex flex-column align-items-center">
                    <div class="col-12 d-flex flex-row">
                        <h4>
                            @Html.DisplayNameFor(model => model.Age ) :-
                        </h4>
                        <h4>
                            &nbsp;@Html.DisplayFor(modelItem => item.Age)
                        </h4>
                    </div>
                    <div class="col-12 d-flex flex-row">
                        <h4>
                            @Html.DisplayNameFor(model => model.Salary ) :-
                        </h4>
                        <h4>
                            &nbsp;@Html.DisplayFor(modelItem => item.Salary)
                        </h4>
                    </div>
                    <div class="col-12 d-flex flex-row">
                        <h4>
                            @Html.DisplayNameFor(model => model.Department ) :-
                        </h4>
                        <h4>
                            &nbsp;@Html.DisplayFor(modelItem => item.Department)
                        </h4>
                    </div>
                </div>
                <div class="card-footer text-end">

                    <a class="btn btn-danger" onclick="deletedata(@item.Id)">Cancel</a>
                    @*<a onclick="update(@item.Id)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" asp-action="GetIdWiseEmployeeData" asp-route-id="@item.Id">edit</a>*@
                    <a class="btn btn-success" asp-action="GetData" asp-route-id="@item.Id">edit</a>
                </div>
            </div>
        }
    </div>










    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog bg-dark text-white">
            <div class="modal-content">
                <div class="modal-header bg-dark text-warning text-center">
                    <h5 class="modal-title" id="exampleModalLabel">UPDATE YOUR DETAILS HERE !</h5>
                </div>
                <div class="modal-body bg-dark text-white">
                    <form class="row needs-validation">
                        <div class="mb-3">
                            <input type="text" hidden class="form-control" id="uid">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="uname" required>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Age</label>
                            <input type="number" class="form-control" id="uage" required>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Salary</label>
                            <input type="number" class="form-control" id="usalary" required>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Department</label>
                            <input type="text" class="form-control" id="udepartment" required>
                        </div>

                    </form>

                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-danger"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success" id="update">Update</button>
                </div>
            </div>
        </div>
    </div>
    @section Script{
        <script>
            function deletedata(id) {
                if (confirm("Do you want to delete this entry")) {
                    $.ajax({
                        url: "https://localhost:7248/api/DeleteEmployeeData/" + id,
                        type: 'DELETE',
                        success: function () {
                            alert("your data is deleted")
                            window.location.href = '@Url.Action("EmployeeTable","Home")';
                        }

                    })
                }
            }
        </script>
    }
