@model apointify.Models.Appointment
@inject IHttpContextAccessor _contx;

@{
    ViewData["Title"] = "Book";
}

<h1>Book</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.AppointmentDate
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Timeslot
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firm)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.FrimId
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @_contx.HttpContext.Session.GetString("Name")
        </dd>
    </dl>


    <span class="bg-success d-block text-center text-light font-monospace w-25 fs-5"> Your Appointment Is Successfully Booked!!</span>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
